# Do not commit actual credentials. Create product-secrets in the cluster instead:
# kubectl create secret generic product-secrets --namespace ecommerce --from-literal=DB_PASSWORD='<password>'
apiVersion: v1
kind: Secret
metadata:
  name: product-secrets
  namespace: ecommerce
type: Opaque
stringData:
  DB_PASSWORD: REPLACE_WITH_LOCAL_OR_SECRET_MANAGER_VALUE
